

body, html {
    background: linear-gradient(45deg, #e10522 0%, rgba(225, 5, 34, 0) 70%), linear-gradient(135deg, #3105d1 10%, rgba(49, 5, 209, 0) 80%), linear-gradient(225deg, #0adbd8 10%, rgba(10, 219, 216, 0) 80%), linear-gradient(315deg, #09f505 100%, rgba(9, 245, 5, 0) 70%);
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}
.info {
    color:#ddd;
    background-color:#282E34;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
    font-size: 20px;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5 {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("abstract-triangle-bg copy.jpg");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("parallax2.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("java-bg.jpg");
    min-height: 400px;
}

.bgimg-4 {
    background-image: url("city copy.jpg");
    min-height: 400px;
}

.bgimg-5 {
    background-image: url("parallax1.jpg");
    min-height: 400px;
}
.about-me {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}

.caption {
    position: absolute;
    left: 0;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #000;
}

.heading {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
.heading {
    background-color:transparent;
    font-size:25px;
    color: #f7f7f7;
    border: solid 1px #f7f7f7;
    letter-spacing: 10px;
    padding: 18px;

}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.absolute-center, .menu, .menu .btn .fa, .menu .btn.trigger .line {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.menu {
    width: 5em;
    height: 5em;
}
.menu .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    z-index: -10;
    cursor: pointer;
    transition: opacity 1s, z-index 0.3s, -webkit-transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transition: opacity 1s, z-index 0.3s, transform 1s, -webkit-transform 1s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.menu .btn .fa {
    font-size: 3em;
    transition: color 0.3s;
}
.menu .btn:hover .fa {
    color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger {
    opacity: 1;
    z-index: 100;
    cursor: pointer;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.menu .btn.trigger:hover .line {
    background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger:hover .line:before, .menu .btn.trigger:hover .line:after {
    background-color: rgba(255, 255, 255, 0.7);
}
.menu .btn.trigger .line {
    width: 60%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    transition: background-color 0.3s, height 0.3s, top 0.3s;
}
.menu .btn.trigger .line:before, .menu .btn.trigger .line:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 6px;
    transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.menu .btn.trigger .line:before {
    top: -12px;
    -webkit-transform-origin: 15% 100%;
    transform-origin: 15% 100%;
}
.menu .btn.trigger .line:after {
    top: 12px;
    -webkit-transform-origin: 25% 30%;
    transform-origin: 25% 30%;
}
.menu .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.menu.active .btn-icon {
    opacity: 1;
    z-index: 50;
}
.menu.active .trigger .line {
    height: 0px;
    top: 45%;
}
.menu.active .trigger .line:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 110%;
}
.menu.active .trigger .line:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 110%;
}

.rotater:nth-child(1) {
    -webkit-transform: rotate(-22.5deg);
    transform: rotate(-22.5deg);
}

.menu.active .rotater:nth-child(1) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(22.5deg);
    transform: translateY(-10em) rotate(22.5deg);
}

.rotater:nth-child(2) {
    -webkit-transform: rotate(22.5deg);
    transform: rotate(22.5deg);
}

.menu.active .rotater:nth-child(2) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-22.5deg);
    transform: translateY(-10em) rotate(-22.5deg);
}

.rotater:nth-child(3) {
    -webkit-transform: rotate(67.5deg);
    transform: rotate(67.5deg);
}

.menu.active .rotater:nth-child(3) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-67.5deg);
    transform: translateY(-10em) rotate(-67.5deg);
}

.rotater:nth-child(4) {
    -webkit-transform: rotate(112.5deg);
    transform: rotate(112.5deg);
}

.menu.active .rotater:nth-child(4) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-112.5deg);
    transform: translateY(-10em) rotate(-112.5deg);
}

.rotater:nth-child(5) {
    -webkit-transform: rotate(157.5deg);
    transform: rotate(157.5deg);
}

.menu.active .rotater:nth-child(5) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-157.5deg);
    transform: translateY(-10em) rotate(-157.5deg);
}

.rotater:nth-child(6) {
    -webkit-transform: rotate(202.5deg);
    transform: rotate(202.5deg);
}

.menu.active .rotater:nth-child(6) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-202.5deg);
    transform: translateY(-10em) rotate(-202.5deg);
}

.rotater:nth-child(7) {
    -webkit-transform: rotate(247.5deg);
    transform: rotate(247.5deg);
}

.menu.active .rotater:nth-child(7) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-247.5deg);
    transform: translateY(-10em) rotate(-247.5deg);
}

.rotater:nth-child(8) {
    -webkit-transform: rotate(292.5deg);
    transform: rotate(292.5deg);
}

.menu.active .rotater:nth-child(8) .btn-icon {
    -webkit-transform: translateY(-10em) rotate(-292.5deg);
    transform: translateY(-10em) rotate(-292.5deg);
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}